.general {
  background-color: rgba(6, 6, 18, 0.99);
  height: fit-content;
  padding: 10px 0px;
}
.subheader p {
  font-size: 20px;
}
.eachColumn {
  background-color: #ffffff09;
  height: 120px;
  padding: 10px 2px;
}
.eachColumn small {
  font-size: 12px;
}
.sensor {
  background-color: #ffffff09;
  height: 400px;
}
.sensor div img {
  height: 50px;
  width: 50px;
}
.sensor div small {
  font-size: 10px;
}
.sensor3 {
  background-color: #ffffff09;
  height: 400px;
}

.sensor3 img {
  width: 100%;
  height: 100%;
}
.sprinkler {
  background-color: #ffffff09;
  height: 190px;
}
.sprinkler .progressBar {
  height: 9px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.sprinkler .progressBar .progressRange {
  width: 90%;
  height: 100%;
  background-color: blue;
  border-radius: 10px;
}

.energy {
  background-color: #ffffff09;
  height: 150px;
  margin-top: 30px;
}
.smart1 {
  background: linear-gradient(rgba(0, 0, 0, 0.687), rgba(0, 0, 0, 0.589)),
    url(https://cdn.pixabay.com/photo/2020/04/26/16/56/tractor-5096163_960_720.jpg);
  height: 250px;
  background-size: 100% 100%;
  width: 100%;
}
.smart2 img {
  width: 100%;
  height: 250px;
}
